*{
    margin: 0px;
}
.position{
    max-width: 1300px;
    margin: auto;
    text-align: center;
}
/* navigation bar  */
.parent-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-div-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-div-nav{
    display: flex;
    gap: 30px;
    
}
.nav-div-nav a{
    text-decoration: none;
    color: #575757;
}
.c-button{
    background-color: #1d4ed8;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
/* banner  */
.main-banner{
    margin-top: 0px;
    text-align: center;
    height: 750px;
    background-image: url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-banner h1,.banner-p{
    color: white;
}
.main-banner h1{
    padding-top: 120px;
}

/* meet  */
.meet-section{
    margin-top: 70px;
}
.meet-div-parent{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}
.meet-div-child{
    border: 1px solid #575757;
    border-radius: 10px;
}
.meet-div-child img{
    border-radius: 10px;
}
/* card section  */
.card-section{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-parent-div{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.card-child-div{
    border: 2px solid #575757;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
}
#pro{
    background: #0D1B2A;
    color: white;
    z-index: 1;
    transform: scale(1.1);
}
.card-button{
    padding: 10px 70px;
    border-radius: 10px;
    cursor: pointer;
}
#g-s{
    border: 1px solid blue;
    color: blue;
}
#g-p{
    background-color: #4d8ddb;
    color: white;
}
#c-u{
    border: 1px solid black;
    color: black;
}
/* footer  */
footer{
    background-color: #0D1B2A;
}
.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-top: 40px;
}
.footer-section a{
    text-decoration: none;
}
.f-social{
    display: flex;
    gap: 50px;
}
.f-social a img{
    height: 30px;
    width: 30px;
}